# Kin rules #
#############
.DS_Store
.DS_Store?
._*
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.log
*.sql
*.sqlite
/vendor
/uploads/avatars/*.jpg
/uploads/avatars/*.gif
/uploads/avatars/*.png
config.codekit
config.inc.php
dandelion.yml
!/assets/sql/kin_db_structure.sql