@black: #111111;

body {
	//background-image: radial-gradient( circle, black, grey );
	
	#site-body {
		background-color: white;
		min-height: 100vh;
		padding-top: 70px;
		
		div.page-header {
			margin: 0 0 20px 0;
			h1, h2, h3 {
				margin: 0;
				padding: 0;
			}
		}
		
		form#post-update {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid lighten(@black, 85%);
			textarea#statusUpdate {
				height: 30px;
			}
		}
		
		ul.updates {
			list-style: none;
			margin: 0;
			padding: 0;
			li.update {
				margin-bottom: 10px;
				padding: 10px 10px 0px;
				border: 1px solid lighten(@black, 85%);
				border-radius: 3px;
				header.update-header {
					display: block;
					img.portrait {
						float: left;
						margin: 0 10px 0 0;
						border-radius: 3px;
					}
					h4 {
						margin: 0;
						padding: 0;
						a {
							color: @black;
						}
					}
					p.metadata {
						a {
							color: lighten(@black, 55%);
						}
					}
				}
				footer.update-footer {
					margin-top: 10px;
					font-size: .9em;
					span.like-description {
						color: lighten(@black, 55%);
					}
				}
			}
			li.no-updates {
				text-align: center;
				font-size: 1.2em;
			}
		}
		ul#users {
			list-style: none;
			margin: 0;
			padding: 0;
			li.user {
				list-style: none;
				a {
					color: @black;
					h5 {
						display: block;
						margin: 5px 0 0;
						padding: 0;
						font-weight: bold;
					}
					img.portrait {
						margin: 0 10px 10px 0;
						height: auto;
						border-radius: 3px;
						float: left;
					}
				}
			}
		}
	}
	
	#sidebar {
		padding-top: 30px;
		background-color: lighten(@black, 85%);
		border-left: 1px solid lighten(@black, 75%);
		color: lighten(@black, 50%);
		aside.widget {
			margin-bottom: 40px;
		}
		aside#profile {
			text-align: center;
			img.portrait {
				border-radius: 150px;
			}
		}
	}
	
	footer#footer {
		background-color: #f8f8f8;
		border-top: 3px solid #e7e7e7;
		margin-top: 50px;
		padding: 30px 0 20px;
		p {
			small {
				font-style: italic;
			}
		}
	}
}

body.profile {
	div#profileCard {
		h1 {
			margin: 0;
			padding: 0;
		}
		img.portrait {
			margin: 0 10px 10px 0;
		}
	}
}
body.notifications {
	div#site-body {
		ul.notifications {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}
}
body.messages {
	p.metadata {
		background-color: lighten(@black, 85%);
		border-radius: 3px;
		padding: 5px 8px;
		font-size: 1.1em;
	}
	section.message-body {
		padding: 10px 20px 20px;
	}
	td.user-info {
		img.portrait {
			border-radius: 3px;
		}
	}
}